.vertical-header {
  /* position: fixed; */
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  /* box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); */
  z-index: 999;
  transition: all 0.3s ease;
}

.header-item {
  margin: 20px 0;
  font-size: 14px;
  color: #000b4f;
  cursor: pointer;
}

.globe-icon,
.search-icon {
  font-size: 20px;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: bold;
  letter-spacing: 2px;
}

/* === Hide on Mobile === */
@media (max-width: 768px) {
  .vertical-header {
    display: none;
  }
}
